@model CategoryModel

@{
    ViewBag.Title = "Category Details";
}

<h2>Category Details</h2>

@Html.Partial("_CategoryDetails", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
